<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <div th:switch="${courses}">
        <h2 th:case="null">No courses found</h2>
        <div th:case="*">
            <h2>Courses</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.id}"></td>
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.cost}"></td>
                        <td><a th:href="@{update/{id}(id=${course.id})}">Edit</a></td>
                        <td><a th:href="@{delete/{id}(id=${course.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="create">Create Course</a></p>
    </div>
</body>
</html>